flask
python-dotenv
sqlalchemy
llama-index
langgraph
psycopg2-binary
asyncio
asgiref
flask[async]
torch
sentence-transformers
transformers
llama-index-llms-huggingface
sentencepiece
llama-index-embeddings-huggingface